.exerciseWindow {
    width: 100%;
    height: 200px;
    background-color: #0e0e13;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleWord {
    font-size: 40px;
    color: white;
}

.yellowCircle {
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1; /* Enforces equal width and height */
    border-radius: 50%;
    background-color: #ffeb3b;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Fredoka', sans-serif;
    color: #0e0e13;
    font-size: 1.5rem; /* Make the number larger */
    margin-right: 10px;
  }