.flashing{
    color: #ffffff;
    text-align: center;
}

.flashing h2 {
    /* background: linear-gradient(90deg, #20cafd, #ed24f8);
    -webkit-background-clip: text; */
    /* color: transparent; */
    color:#ffffff;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.highlight {
    /* background: linear-gradient(90deg, #20cafd, #ed24f8);
    -webkit-background-clip: text; */
    /* color: transparent; */
    color:var(--color-purple-light);
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}