body {
  background: linear-gradient(0deg, #1E1B20, #18151A); /* Your gradient */
  background-size: cover; /* Ensures the gradient covers the entire area */
  background-repeat: no-repeat; /* Prevents the gradient from repeating */
  background-attachment: fixed; /* Makes sure the gradient doesn't scroll with content */
  font-family: 'Fredoka', sans-serif;
  min-height: 100vh; /* Ensures the body covers the viewport height */
  margin: 0;
  padding: 0;
}

.rowCategories {
  margin-bottom: 20px;
}

.categories{
  font-size: 22px;
  margin-top: 10px;
}

.subjectButtons{
  width: 100%;
}

.subjectButtons:hover {
  filter: brightness(120%);
}

.siteName {
  font-size: 35px;
  margin-left: 20px;
  color: #e6e6ff;
}

.App {
  text-align: center;
}

.mainContainer {
  color: white;
  font-size: 17px;
  background-color: #212529;
  margin-top: 15px;
  padding: 20px;
  border-radius: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form-control.darkInput {
  background-color: #16161d !important; /* Force the background to be dark */
  color: #d9d9d9 !important; /* Force text color to be white */
  border: 1px solid #2c2c3a !important;
}

.form-control.darkInput:focus,
.form-control.darkInput:hover,
.form-control.darkInput:active {
  background-color: #21212c !important;
  color: #f2f2f2 !important;
  border: 0.5px solid #4d4d66 !important; /* Optional: change border color for better visibility */
  outline: none !important; /* Remove default blue outline on focus */
}

.darkInput::placeholder {
  color: #666666; /* Change this color to whatever you prefer */
  opacity: 1; /* Ensures the color is applied fully */
}


